---
title: url_for test case
---

<h1>
  url_for test case
</h1>

<p>URL for index.html,en: <%= url_for('index.html', locale: :en) %></p>
<p>URL for index.html,fr: <%= url_for('index.html', locale: :fr) %></p>
<p>URL for index.html,es: <%= url_for('index.html', locale: :es) %></p>
<p>URL for test.html,en: <%= url_for('test.html', locale: :en) %></p>
<p>URL for test.html,fr: <%= url_for('test.html', locale: :fr) %></p>
<p>URL for test.html,es: <%= url_for('test.html', locale: :es) %></p>
<p>URL for index,en: <%= url_for('index', locale: :en) %></p>
<p>URL for index,fr: <%= url_for('index', locale: :fr) %></p>
<p>URL for index,es: <%= url_for('index', locale: :es) %></p>
<p>URL for test,en: <%= url_for('test', locale: :en) %></p>
<p>URL for test,fr: <%= url_for('test', locale: :fr) %></p>
<p>URL for test,es: <%= url_for('test', locale: :es) %></p>

